#home {
	height: 100vh;
	width: 100%;
	display: flex;
}

.left-panel {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 0.3;
	height: 100vh;
	overflow: scroll;
}

.right-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	text-align: center;
	flex: 0.7;
	height: 100%;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.4rem 1.2rem;
	width: 90%;
	background-color: black;
}

.header span {
	font-size: 2rem;
	letter-spacing: 4px;
	font-weight: 400;
	text-align: center;
	color: white;
	margin: 0.5rem;
}

.cta {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.cta-save,
.cta-download,
.cta-reset {
	background: #fff;
	padding: 0.2rem 0.6rem;
	outline: none;
	border: none;
	font-size: 0.8rem;
	letter-spacing: 3px;
	color: black;
	margin: 0.5rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-decoration: none;
}

.cta-reset,
.cta-save > *,
.cta-download > * {
	margin: 0.25rem 0.5rem;
}

.reset-icon:active {
	transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
}

iframe {
	background-color: white !important;
}
iframe::-webkit-scrollbar {
	display: none !important;
}
