.footer {
	color: white;
	display: block;
	width: 100%;
	padding: 1rem auto;
}
.footer-title {
	font-size: 1rem;
	padding: 0.5rem auto;
	margin: 0.5rem;
}

#author-link {
	margin: 0 5px;
	text-decoration: none;
	color: white;
	outline: none;
}

#author-link:hover {
	font-style: italic;
	color: orangered;
}
